{
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "env": {
        "browser": true,
        "es2021": true,
        "amd": true,
        "node": true
    },
    "plugins": ["react"],
    "rules": {
      "import/no-extraneous-dependencies": 0,
      "react/jsx-filename-extension": 0,
      "linebreak-style":"off",
      "comma-spacing":"warn",
      "no-trailing-spaces":"off",
      "comma-dangle":"off",
      "object-curly-spacing":"warn",
      "no-unused-vars":"warn",
      "key-spacing":"warn",
      "semi":"warn",
      "indent":"warn",
      "global-require":"off",
      "quotes":"off",
      "jsx-quotes":"off"
      
    }
  }
